<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelNum</key>
		<integer>1</integer>
		<key>StreamSpeed</key>
		<real>0.25</real>
		<key>NumTopicsToRecirculate</key>
		<integer>1</integer>
		<key>NumTopicsToFavorite</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>LevelNum</key>
		<integer>2</integer>
		<key>StreamSpeed</key>
		<real>0.25</real>
		<key>NumTopicsToRecirculate</key>
		<integer>1</integer>
		<key>NumTopicsToFavorite</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>LevelNum</key>
		<integer>3</integer>
		<key>StreamSpeed</key>
		<real>0.5</real>
		<key>NumTopicsToRecirculate</key>
		<integer>1</integer>
		<key>NumTopicsToFavorite</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>LevelNum</key>
		<integer>4</integer>
		<key>StreamSpeed</key>
		<real>0.5</real>
		<key>NumTopicsToRecirculate</key>
		<integer>2</integer>
		<key>NumTopicsToFavorite</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>LevelNum</key>
		<integer>5</integer>
		<key>StreamSpeed</key>
		<real>0.75</real>
		<key>NumTopicsToRecirculate</key>
		<integer>2</integer>
		<key>NumTopicsToFavorite</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>LevelNum</key>
		<integer>6</integer>
		<key>StreamSpeed</key>
		<real>0.75</real>
		<key>NumTopicsToRecirculate</key>
		<integer>1</integer>
		<key>NumTopicsToFavorite</key>
		<integer>2</integer>
	</dict>
    <dict>
		<key>LevelNum</key>
		<integer>7</integer>
		<key>StreamSpeed</key>
		<real>1.0</real>
		<key>NumTopicsToRecirculate</key>
		<integer>2</integer>
		<key>NumTopicsToFavorite</key>
		<integer>2</integer>
	</dict>
    <dict>
		<key>LevelNum</key>
		<integer>8</integer>
		<key>StreamSpeed</key>
		<real>1.5</real>
		<key>NumTopicsToRecirculate</key>
		<integer>2</integer>
		<key>NumTopicsToFavorite</key>
		<integer>2</integer>
	</dict>
    <dict>
		<key>LevelNum</key>
		<integer>9</integer>
		<key>StreamSpeed</key>
		<real>1.75</real>
		<key>NumTopicsToRecirculate</key>
		<integer>2</integer>
		<key>NumTopicsToFavorite</key>
		<integer>2</integer>
	</dict>
    <dict>
		<key>LevelNum</key>
		<integer>10</integer>
		<key>StreamSpeed</key>
		<real>1.0</real>
		<key>NumTopicsToRecirculate</key>
		<integer>3</integer>
		<key>NumTopicsToFavorite</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
