<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>RankNum</key>
		<integer>1</integer>
		<key>RankTitle</key>
		<string>Slug</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>2</integer>
		<key>RankTitle</key>
		<string>Gopher</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>3</integer>
		<key>RankTitle</key>
		<string>Intern&apos;s Backup Assistant</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>4</integer>
		<key>RankTitle</key>
		<string>Intern&apos;s Assistant</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>5</integer>
		<key>RankTitle</key>
		<string>Backup Intern</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>6</integer>
		<key>RankTitle</key>
		<string>Intern Level I</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>7</integer>
		<key>RankTitle</key>
		<string>Intern Level II</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>8</integer>
		<key>RankTitle</key>
		<string>Intern Level III</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>9</integer>
		<key>RankTitle</key>
		<string>Junior Manager&apos;s Assistant</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>10</integer>
		<key>RankTitle</key>
		<string>Junior Manager Level I</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>11</integer>
		<key>RankTitle</key>
		<string>Junior Manager Level II</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>12</integer>
		<key>RankTitle</key>
		<string>Junior Manager Level III</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>13</integer>
		<key>RankTitle</key>
		<string>Manager&apos;s Assistant</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>14</integer>
		<key>RankTitle</key>
		<string>Manager Level I</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>15</integer>
		<key>RankTitle</key>
		<string>Manager Level II</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>16</integer>
		<key>RankTitle</key>
		<string>Manager Level III</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>17</integer>
		<key>RankTitle</key>
		<string>Senior Manager&apos;s Assistant</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>18</integer>
		<key>RankTitle</key>
		<string>Senior Manager Level I</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>19</integer>
		<key>RankTitle</key>
		<string>Senior Manager Level II</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>20</integer>
		<key>RankTitle</key>
		<string>Senior Manager Level III</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>21</integer>
		<key>RankTitle</key>
		<string>Expert</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>22</integer>
		<key>RankTitle</key>
		<string>Maven</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>23</integer>
		<key>RankTitle</key>
		<string>Maestro</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>24</integer>
		<key>RankTitle</key>
		<string>Survivor</string>
	</dict>
	<dict>
		<key>RankNum</key>
		<integer>25</integer>
		<key>RankTitle</key>
		<string>Ultimate Survivor</string>
	</dict>
</array>
</plist>
