<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>This #NOUN is #sodope</string>
	<string>Crazy abt this #NOUN!</string>
	<string>Need a #NOUN RIGHT NOW</string>
	<string>Where is my #NOUN?</string>
	<string>Super &lt;3 this #NOUN</string>
	<string>Can’t find ANY #PLURAL</string>
	<string>WHOA #PLURAL are the COOLEST!</string>
	<string>Chk me out w this #NOUN! #selfie</string>
	<string>I can’t even w these #PLURAL.</string>
	<string>Free #PLURAL if you share this!</string>
	<string>Which #NOUN is best?</string>
	<string>Follow me for tips on #PLURAL!</string>
	<string>1000 followers tnx to #PLURAL</string>
	<string>Idc what u think: #PLURAL 4ever</string>
	<string>Can’t get enough #PLURAL</string>
	<string>#PLURAL. #amiright</string>
	<string>Whats so cool abt #PLURAL?</string>
    <string>Life is like a #NOUN. #truth</string>
    <string>@SMSurvivorGame IRL! #NOUN</string>
</array>
</plist>
